.all-content{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.menu-lat{
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    float: left;
    border-right: 1px solid #BDBDBD;
}
.menu-lat .lat-header{
    width: 100%;
    height: 30vh;
    background: #0277bd;
    text-align: center;
    padding-top: 5vh;
}
.menu-lat .lat-header .capitalLetter{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-bottom: 3vh;
    margin-left: 10vw;
    background: #FFF;
}
.menu-lat .lat-header .capitalLetter p{
    text-align: center;
    color: #0277bd;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 6vh;
    margin: 0 !important;
    padding-top: 1vh;
}
.menu-lat .lat-header p{
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
}
.menu-lat .lat-header p{
    color: #FFF;
    text-shadow: 1px 1px 1px #ccc;
}
.menu-lat .lat-body{
    padding: 5vh 2vw;
    text-align: center;
}
.menu-lat .lat-body .tabs{
    width: 100%;
    text-align: left;
    padding: 10px 1vw;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}
.menu-lat .lat-body .tabs a{
    color: #546e7a;
    font-family: 'Raleway', sans-serif;
}
.menu-lat .lat-body .tabs a:hover{
    text-decoration: none;
    color: #0277bd;
}
.menu-lat .lat-body .tabs a i{
    padding-right: 5px;
}
.menu-lat .lat-body .tabs a .fa-sort-down, .fa-sort-up{
    float: right;
    padding-right: 0 !important;
}
.menu-lat .lat-body #menuUsers, #menuRoles, #menuPeople, #menuProviders, #menuSizes, #menuUserTypes{
    list-style: none;
    display: none;
    text-align: left;
}
.menu-lat .lat-body ul .options{
    margin-left: 1.5vw;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;   
}
.menu-lat .lat-body ul li a{
    color: #546e7a;
}
.menu-lat .lat-body ul li a:hover{
    text-decoration: none;
    color: #0277bd;
}
.menu-lat .lat-body ul li a i{
    padding-right: 5px;
}
.main-content {
    width: 75vw;
    height: 100vh;
    float: right;
    position: relative;
}
.main-content .navbar{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 700;
    width: 75vw;
    height: 10vh;
    background: #0277bd;
}
.main-content .menu-content{
    width: 100%;
    height: auto;
    margin-top: 10vh;
    padding: 3vh 3vw;
}

#hideUsers, #hideUserTypes, #hidePeople, #hideRoles, #hideSizes, #hideProviders{
    display: none;
}
.tab-active{
    color: #0277bd !important;
    width: 100%;
    text-align: left;
    padding: 10px 1vw;
    border-bottom: 1px solid #0277bd;
    font-weight: bold;
}
.opt-active{
    margin-left: 1.5vw;
    padding-bottom: 5px;
    border-bottom: 1px solid #0277bd;  
}