.navbar-content{
	width: 90%;
	height: 10vh;
	margin-left: 5%;
}
.navbar-content ul{
	list-style: none;
	float: right;
	padding-top: 3vh;
}
.navbar-content ul li{
	display: inline;
	padding-right: 2vw;
	font-size: 1.4em;
}
.navbar-content ul li i{
	color: #FFF;
	text-shadow: 1px 1px 1px #ccc;
}